@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
}
.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5rem;
  padding: 0% 0.8%;
  position: relative;
  background-color: whitesmoke;
  z-index: 1;
}
.navItems {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}
.menubar {
  display: none;
}
.udlogo {
  width: 6rem;
}
.categ {
  margin-right: 0.6rem;
  margin-left: 1.1rem;
}
.navbar a {
  color: black;
  text-decoration: none;
  width: 3rem;
  font-weight: 400;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.cart {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  padding-top: 10px;
}
.navbar a:hover,
.cart:hover {
  color: #4916cd;
}
form {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background: none;
}
input {
  padding: 0;
  font-size: 0.9em;
  width: 100%;
}
input:focus {
  outline: none;
  text-decoration: none;
}
.search {
  border: 1px solid black;
  flex-grow: 1;
  width: auto;
  display: flex;
  border-radius: 15rem;
  position: relative;
  background-color: #f7f9fa;
  align-items: center;
  flex-direction: row;
  margin: 0rem 1rem;
  height: 3rem;
}
.searBar {
  border: none;
  background: none;
}
.searIcon {
  border: none;
  background: none;
  color: gray;
  padding: 0.4rem 0.6rem;
  padding-top: 0.8rem;
}
.searIcon:hover {
  color: black;
}
.navbutt {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}
.navbutt button {
  margin-left: 15px;
  width: 80px;
  outline: none;
}
.navbar .navItems .business,
.navbar .navItems .teach {
  width: 9rem;
}
.navbar .navbutt .login {
  font-size: 1rem;
  font-weight: bold;
  background: white;
}

.navbar .navbutt .signup {
  font-size: 1rem;
  font-weight: bold;
  background: black;
  color: white;
}
.navbar .navbutt .lang {
  width: 3rem;
  background: none;
  font-weight: bold;
}
.navbar .navbutt .login:hover,
.navbar .navbutt .lang:hover {
  background: rgb(230, 221, 221);
}

.headContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85rem;
  position: relative;
  margin: auto;
  padding: 1.1rem 2.2rem;
  background-color: #f8f9fb;
}
.ads {
  background-color: white;
  width: 33rem;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  padding: 2.2rem;
  margin-top: 3.2rem;
  height: 12.3rem;
}
.ads h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.ads p {
  font-size: 1.3rem;
}
.header_photo_small {
  width: 40%;
}

section {
  width: 85rem;
  margin: auto;
  padding: 1.1rem 1.1rem;
}
.discCourses {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2.2rem 0rem;
  font-size: 1.3rem;
}

.coursesTabs {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1.7rem;
}

.coursesTabs label {
  font-weight: bold;
  color: grey;
}

.coursesTabs input[type="radio"] {
  display: none;
}

.coursesTabs input[type="radio"]:checked + label {
  color: black;
}

.coursesTabs input[type="radio"]:hover + label {
  color: black;
}

.coursesList {
  border: 1px solid black;
  padding: 2rem;
  width: 100%;
  margin: 1.2rem 0.2rem;
}

.coursesList h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem 0rem;
}

.coursesList p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.8rem 0rem;
}

.coursesDesc {
  width: 60%;
}

.explore {
  border: 1px solid black;
  width: auto;
  font-weight: bold;
  color: black;
  background: none;
  padding: 1rem;
  height: 3rem;
  margin: 0.8rem 0rem;
  font-size: 0.8rem;
}

.explore:hover {
  background: gray;
}

.coursesCards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.6rem;
}

.courseCard {
  width: auto;
  position: relative;
  height: 18rem;
}

.courseCard img {
  border: 1px solid black;
  width: 90%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.courseAuthor {
  color: gray;
}

.coursePrice {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.courseCard h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.courseCard p {
  margin: 0rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(0, 0, 0);
  top: 20%;
  width: 50px;
  height: 50px;
  border-radius: 60%;
}
.carousel-control-next {
  right: 1%;
}
.carousel-control-prev {
  left: -1%;
}
footer {
  height: 20rem;
}

@media (max-width: 1200px) {
  section {
    width: 80%;
  }
  .searBar {
    flex-grow: 1;
  }
  .search {
    width: auto;
  }
  .navbar {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .business {
    display: none;
  }
  .searBar {
    flex-grow: 1;
  }
  .search {
    width: auto;
  }
  .navbar {
    width: 100%;
  }
  .headContent {
    width: 90%;
  }
  .ads {
    height: 80%;
  }
}
@media (max-width: 952px) {
  .teach,
  .categ {
    display: none;
  }
}

@media (max-width: 800px) {
  .search,
  .business,
  .cart,
  .navbutt {
    display: none;
  }
  .menubar {
    display: initial;
    border: none;
    background: none;
    margin-top: 5px;
  }
  .menubar:hover {
    color: #4916cd;
  }
  .navbar {
    height: 4.2rem;
  }
  .header_photo_small {
    width: 50%;
  }
  .headContent {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: auto;
    padding: 0rem;
    align-items: center;
  }
  .ads {
    width: 100%;
    margin: 0rem;
  }
  .ads h1 {
    font-size: 1.5rem;
  }
  .ads p {
    font-size: 1.1rem;
  }
}
